/* Primary Colors*/
$primary_color: #9356DC;
$secondary_color: #FF79DA;
$third_color: #99E2D0;
$font-family: 'Roboto', sans-serif;
$logo-font: 'Shrikhand', cursive;

* {
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px transparent black;
    -webkit-box-shadow: inset -16px -31px 15px -30px rgba(0,0,0,0.35); 
    box-shadow: inset -16px -31px 15px -30px rgba(0,0,0,0.35);
}

header img {
    margin-bottom: 20px;
    margin-top: 20px;
}

#subheader {
    display: flex;
    justify-content: center;
    background-color: rgba(234, 234, 234, 255);
    padding: 20px 0px 20px 0px;
}

#subheader span {
    font-family: $font-family;
    font-weight: 400;
    margin-right: 3rem;
}

#subheader span i {
    margin-right: 10px;
}

#Description {
    background-color: rgba(246, 246, 246, 255);
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column;
    align-items: center;
    font-family: $font-family;
}

#Description h1 {
    font-size: 24px;
    width: 70%;
    font-weight: 800;
    text-align: center;
}

#Description p {
    color: grey;
    margin-top: 1rem;
    font-size: 16px;
    width: 80%;
    text-align: center;
    font-weight: 400;
}

#ButtonDescription {
    margin-top: 2rem;
    display: inline-block;
    border: 1px transparent $secondary_color;
    background-color: $primary_color;
    background-image:
        linear-gradient(to right, $secondary_color, $primary_color);
    border-radius: 25px;
    color: white;
    padding: 1rem;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 16px #0000002e;
}

#Fonctionnement {
    margin: 2rem 1rem 4rem 1rem;
}

#Fonctionnement h1 {
    font-family: $font-family;
}

#Fonctionnement ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: $font-family;
    font-size: 16px;
}

#Fonctionnement i {
    font-size: 20px;
}

#Fonctionnement span {
    border: 1px solid white;
    border-radius: 40px;
    background: rgba(246, 246, 246, 255);
    padding: 1rem 2rem 1rem 2rem;
    box-shadow: 0 0 16px #0000002e;
    min-width: 72%;
    &:hover {
        background-color: rgba(245,237,255,255);
        .fas {
            color: $primary_color;
            opacity: 1;
        }
    }
}

#Fonctionnement li {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
#Fonctionnement i {
    opacity: 0.5;
    margin-right: 20px;
    margin-left: 10px;
}

#Fonctionnement p {
    position: absolute;
    left: 42px;
    border: 1px solid $primary_color;
    padding: 5px 10px 5px 10px;
    border-radius: 50%;
    color: white;
    background-color: $primary_color;
}

#Restaurant {
    background-color: rgba(246, 246, 246, 255);
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
}

#Restaurant h1 {
    font-family: $font-family;
    margin: 0 0 1rem 1rem;
}

#Restaurant_cards img {
    object-fit: cover;
    width: 100%;
    max-height: 227px;
    border-radius: 25px 25px 0 0;
}

#Restaurant_cards figure {
    background-color: white;
    width: 90%;
    box-shadow: 0 0 16px #0000002e;
    border-radius: 25px 25px 25px 25px;
    margin-left: 5%;
}

.card_text {
    display: flex;
    flex-direction: column;
    margin: 5px 10px 5px 10px;
    font: $font-family;

}

.card_text h2 {
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 5px;
}

.card_text p {
    font-size: 20px;
    opacity: 0.8;
}

#Restaurant_cards figcaption {
    display: inline-flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    justify-content: space-between;
}

.card_logo {
    display: relative;
}

.card_logo i {
    margin-right: 1rem;
    font-size: 28px;
}

.icon-unlock {
    opacity: 0.5
}

.lock:hover .icon-unlock,
.lock .icon-lock {
    display: none;
}
.lock:hover .icon-lock {
    display: inline;
    color: $primary_color;
}

.Restaurant_card {
    margin-bottom: 2rem;
}

.Restaurant_card a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: rgba(53,53,53,255);
    color: white;
    display: flex;
    flex-direction: column;
}

footer h2 {
    font-family: $logo-font;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 2rem 0 1rem 1rem;
}

footer ul {
    font-family: $font-family;
    list-style: none;
    padding: 0;
    margin-left: 1rem;
    margin-bottom: 2rem;
    font-style: normal;
}

footer i {
    margin-right: 0.5rem;
    font-size: 16px;
}

footer li {
    margin-bottom: 0.5rem;
}

